<h1>SignalR Test Chat Messages</h1>

<p>{{ConnectionId}}</p>
<label for="login">login</label>
<input [(ngModel)]="user" id="login" type="text">
<label for="password">Password</label>
<input [(ngModel)]="password" id="password" type="text">
<label for="role">role</label>
<input [(ngModel)]="role" id="role" type="text">
<button (click)="login()">Login</button>
<br>
<button (click)="connect()">Connect</button>
<button (click)="disconnect()">disconnect</button>
<br><br>
<p>Send to:</p>
<input [(ngModel)]="to" type="text">
<br><br>
<p>message</p>
<textarea name="message" id="" cols="30" rows="10" [(ngModel)]="message"></textarea>
<br><br>
<button (click)="sendMessage()">Send</button>
<br>
<div >
  <ol>
   <ng-container *ngFor="let item of conversation; let i=index">
      <li >{{item}}</li>
   </ng-container>    
  </ol>
</div>

<div >
  <ol>
   <ng-container *ngFor="let item of loggedUsers; let i=index">
      <li >{{item}}</li>
   </ng-container>    
  </ol>
</div>